@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg: #131316;
  --text: #fffbff;
  --bg-rgba: #13131654;

  /* Others */
  --accent: #7d41f6;
  --nav-h: 10vh;
  --nav-bg: rgb(19, 19, 19);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  transition: all .1s;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

.light {
  --bg: #f6f6f6;
  --text: #0e0e0e;
  --bg-rgba: #f4f4f454;

  /* Others */
  --accent: #7d41f6;
  --nav-h: 10vh;
  --nav-bg: rgb(250, 250, 250);
}

/***********************************/
/*                                 */
/*              MENU               */
/*                                 */
/***********************************/

.LogoWrap {
  margin: auto 0;
  flex: 0 1 36px;
}

.LogoWraphh2 {
  margin: auto;
  z-index: 100;
  flex: 0 1 200px;
  max-height: 70vh;
  max-width: 40vw;

}

.NavItem {
  text-decoration: none;
  color: var(--text);
  display: inline-block;
  white-space: nowrap;
  margin: 0 1vw;
  transition: all 200ms ease-in;
  position: relative;
  cursor: pointer;
}

.NavItem::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--accent);
  height: 1px;
  transition: all 0.4s ease-in;
}

.NavItem:hover {
  color: var(--accent);
}

.NavItem:hover::after {
  width: 100%;
}

.navigation {
  height: var(--nav-h);
  display: flex;
  background-color: var(--bg-rgba);
  position: absolute;
  top: 0;
  width: 90%;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 0;
  padding: 0 5%;
  z-index: 12;
  align-self: center;
}

.scrolled {
  position: fixed;
  margin: 20px 5%;
  width: 80%;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.toggle {
  display: none;
  height: 100%;
  cursor: pointer;
  padding: 0 10vw;
}

.navbox {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.hamburger {
  background-color: var(--text);
  width: 30px;
  height: 3px;
  transition: all 0.3s linear;
  align-self: center;
  position: relative;
  transform: inherit;
}

.hamburger.open {
  transform: rotate(-45deg);
}

.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background-color: var(--text);
  content: "";
  position: absolute;
  transition: all 0.3s linear;
}

.hamburger::before {
  transform: rotate(0deg);
  top: -10px;
}

.hamburger.open::before {
  transform: rotate(-90deg) translate(-10px, 0px);
}

.hamburger::after {
  opacity: 1;
  transform: rotate(0deg);
  top: 10px;
}

.hamburger.open::after {
  opacity: 0;
  transform: rotate(90deg);
}

/******************************/

.slideShow {
  margin-top: var(--nav-h);
}




/*******************************/
/*         MEDIA DISPLAY       */
/*******************************/

@media (max-width: 768px) {
  :root {
    --nav-h: 8vh;
  }

  .LogoWrap {
    flex: 0 1 25px;
  }

  .NavItem {
    padding: 20px 0;
    font-size: 1.5rem;
    z-index: 6;
  }

  .navigation {
    background-color: var(--bg);
    position: fixed;
    height: 8vh;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }

  .scrolled {
    margin: 0;
    border-radius: 0;
    width: 90%;
  }

  .toggle {
    display: flex;
  }

  .navbox {
    flex-direction: column;
    position: fixed;
    width: 100%;
    justify-content: flex-start;
    padding-top: 10vh;
    background-color: var(--bg);
    transition: all 0.3s ease-in;
    top: 8vh;
    left: 0;
    height: 92vh;
  }

  .navbox.open {
    left: -100%;
  }

  .slideShow {
    margin-top: 0;
  }
}


.gallery-setting {
  width: 100%;
  margin-bottom: 40px;
}

.gallery-setting h1 {
  color: var(--green-white-100);
  font-size: 2rem;
  font-weight: bold;
}

/*********************************/

.sec-1 {
  width: 100%;
  height: 100vh;
}

.sec-2 {
  width: 90%;
  margin: 40px 5%;
}

.sec-2 h2 {
  font-size: xx-large;
}

/***********************/

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px;
}

/**********************/
.my-masonry {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.my-masnry-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgb(9, 9, 10, 0.8), transparent 100%);
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: .7s;
}

.my-masnry-user-box {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  column-gap: 20px;
  margin-bottom: -80px;
  transition: .5s;
}

.my-masnry-user-prof {
  width: 45px;
  height: 45px;
}

.my-masnry-user-prof img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.my-masnry-user-prof-desc {
  row-gap: 10px;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.my-masnry-user-prof-desc h1 {
  color: var(--green-400);
}

.my-masnry-user-prof-desc h3 {
  color: var(--dark-600);
}

.my-masonry:hover .my-masnry-description {
  visibility: visible;
  opacity: 1;
}

.my-masonry:hover .my-masnry-user-box {
  margin-bottom: 15px;
}

/*******************/

.center {
  text-align: center;
}

.slider h1 {
  text-align: center;
}

* {
  outline: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.5s ease;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: none;
  background: #ffd800;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 15px 40px;
  font-weight: 400;
  font-size: 13px;
  cursor: cursor;
}

button:hover {
  color: #ffffff;
  background: #222222;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.slider-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-width: 100vw;
  margin: 0 auto;
}

.slide {
  height: 100vh;
  background-size: cover !important;
}

.slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {}

.previousButton {
  left: 10px;
}

.previousButton:hover {
  color: #7d41f6;
}

.nextButton {
  right: 0;
}

.nextButton:hover {
  color: #7d41f6;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content * {
  pointer-events: none;
}

.slider-content .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #ffffff;
  max-width: 80vw;
  font-size: 48px;
  line-height: 1;
}

.slider-content .inner p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.slider-content section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.slider-content section span {
  color: #ffffff;
}

.slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}

.slider-content section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.slider-content section span strong {
  color: #ffffff;
  font-size: 14px;
  display: block;
}


@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}